<section class="text-neutral-300">
  <div>
    <h2 class="uppercase text-5xl tracking-wide">Quem é Elmusa?</h2>
    <hr class="border-[.5px] w-12 mt-2">
  </div>

  <img ngSrc="assets/images/about-profile-mobile.png"
       height="431"
       width="348"
       alt="Developer profile picture">

  <div class="font-light opacity-55 text-justify text-lg">
    <p class="mt-0">
      Um amante assíduo de música e de filmes de terror, sempre estudando e
      tentando descobrir coisas novas. Enquanto pessoa, movido pela mudança e
      pelo apreço do uso da razão e da lógica na solução dos mais variados problema
    </p>
    <p class="mt-4">
      Com o objetivo de melhor entrega possível, atuo em meus projetos visando
      qualidade, utilizando das melhores práticas e sempre com o intuito de
      construir aplicações e websites que além de bonitos, sejam responsivos e
      cumpram suas necessidades de utilização.
    </p>
  </div>

  <button class="uppercase mt-4 bg-neutral-300 text-black font-light p-1 rounded">Baixar Currículo</button>
</section>
