<section class="text-neutral-300" id="experience">
  <app-section-heading title="experienceSection.title"></app-section-heading>

  <div class="mt-14 w-full">
    <p-timeline [value]="experienceList$()" [align]="getAlignByLayout()">
      <ng-template pTemplate="marker">
        <fa-icon [icon]="workIcon"></fa-icon>
      </ng-template>
      <ng-template pTemplate="content" let-experience>
        <div class="lg:border lg:border-neutral-300 lg:rounded-md lg:p-6 ">
          <div class="lg:pt-3">
            <p class="text-sm text-neutral-500 md:text-xl">
              {{ experience.date }}
            </p>
          </div>
          <div class="mb-6 mt-2">
            <h4 class="mb-1.5 text-xl font-normal md:text-2xl">{{ experience.jobPosition }}, {{ experience.company }}</h4>
            <div [innerHTML]="experience.description"
                 class="text-neutral-300 opacity-55 font-extralight flex flex-col space-y-4 md:text-2xl"></div>
          </div>
        </div>
      </ng-template>
    </p-timeline>
  </div>
</section>
