<main>
  <div class="px-6 pt-4 md:px-8 lg:px-12 2xl:px-24">
    <app-header class="sticky top-4 md:relative md:top-0"></app-header>
    <div class="h-full flex flex-col space-y-14 md:space-y-20">
      <app-home></app-home>
      <app-about></app-about>
      <app-experience></app-experience>
      <app-projects></app-projects>
      <app-skills></app-skills>
      <app-education></app-education>
    </div>
  </div>
</main>
<app-footer></app-footer>
<app-mobile-menu class="fixed top-0"></app-mobile-menu>
