<main>
  <ngx-particles
    id="particles-bg"
    [id]="id"
    [options]="particlesOptions"
    (particlesLoaded)="particlesLoaded($event)"></ngx-particles>

  <div class="px-6 pt-4 md:px-8 lg:px-12 2xl:px-24">
    <app-header navigationMode="router"></app-header>

    <div class="mt-14 min-h-[60vh] overflow-hidden relative route-stage">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</main>

<app-footer></app-footer>
<app-mobile-menu navigationMode="router"></app-mobile-menu>
