<footer class="bg-neutral-300 p-8 text-center">
  <div class="flex space-x-6 text-xl justify-center md:text-2xl xl:text-3xl">
    <a [href]="socialMediaLinks.linkedin">
      <fa-icon [icon]="socialMediaIcons.linkedin"></fa-icon>
    </a>
    <a [href]="socialMediaLinks.github">
      <fa-icon [icon]="socialMediaIcons.github"></fa-icon>
    </a>
    <a [href]="socialMediaLinks.email">
      <fa-icon [icon]="socialMediaIcons.email"></fa-icon>
    </a>
  </div>
  <span class="block mt-4 md:text-xl">&#169;2024 Samuel Pacheco | Todos os direitos reservados</span>

</footer>
