<div class="px-2 md:px-12">

  <div class="w-full h-44 border border-neutral-200 mx-auto relative md:h-72 md:border-none">
    <img class="w-full h-full -ml-4 mt-4 rounded md:m-0"
         [ngSrc]="'assets/images/projects/' + mainProject().thumbnail"
         alt="Project thumbnail" fill>
  </div>

  <div class="mt-6 flex justify-between items-baseline">
    <span class="uppercase md:text-2xl">{{ mainProject().title }}</span>
    <div class="flex space-x-4 md:text-2xl">
      @if (mainProject().deployLink) {
      <a [href]="mainProject().deployLink"><fa-icon [icon]="linkIcons.deploy"></fa-icon></a>
      }
      @if (mainProject().repoLink) {
      <a [href]="mainProject().repoLink"><fa-icon [icon]="linkIcons.repository"></fa-icon></a>
      }
    </div>
  </div>


  <div class="mt-2 h-32">
    <span class="opacity-30 md:text-xl">{{ mainProject().stack }}</span>
    <p class="mt-2 font-light opacity-60 md:text-2xl">{{ mainProject().description }}</p>
  </div>

</div>
